*{padding:0;margin:0;}
*{box-sizing: border-box;}

*{
    transition:all 1s;
}
body{
    height:100vh;

}
#md a{
    color: white;
    text-decoration: none;
}
#paper>.content{
    color: white;
}
#code{
  overflow: auto;
  height: 100vh;
}
.token.selector,
.token.property,
.token.function,
.token.comment,
.token.punctuation{
    color: black;
}
#xxxx{
    position: fixed;
    bottom:0;
    color:black;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-family: Arial;
}
#xxxx>#ending,#resume,#restart{
    cursor: pointer;
}