*{padding:0;margin:0;}
*{box-sizing: border-box;}
body{

}
#paper>.contetn{
    color: white;
}
#code{
  overflow: auto;
  height: 100vh;
}
.token.selector{
    color: black;
}
.token.property{
    color: black;
}
.token.function{
    color: black;
}
#xxxx{
    position: fixed;
    bottom:0;
    color:black;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-family: Arial;
}
#xxxx>#ending,#resume,#restart{
    cursor: pointer;
}